In [1]:
# importing tools
import pandas as pd #for dataframe
import numpy as np # for mathematical operation
import matplotlib.pyplot as plt #for visualization
%matplotlib inline
import seaborn as sns

In [2]:
data= pd.read_csv('cubic_zirconia.csv') #importing data

In [3]:
data

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779
...,...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09,5408
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,1114
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

In [4]:
data.isna().sum() #checking null value

Unnamed: 0      0
carat           0
cut             0
color           0
clarity         0
depth         697
table           0
x               0
y               0
z               0
price           0
dtype: int64

In [5]:
data.mean()

C:\Users\Badal\AppData\Local\Temp/ipykernel_7556/531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Unnamed: 0    13484.000000
carat             0.798375
depth            61.745147
table            57.456080
x                 5.729854
y                 5.733569
z                 3.538057
price          3939.518115
dtype: float64

In [6]:
depth_mean=data['depth'].mean()
print(depth_mean)

61.745146555006194

In [7]:
data['depth']=data['depth'].fillna(value=depth_mean) #filling null value from mean

In [8]:
data.isna().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
x             0
y             0
z             0
price         0
dtype: int64

In [9]:
data.duplicated().sum() #checking duplicate value

0

In [10]:
data.shape #checking shape for finding rows and column

(26967, 11)

In [11]:
data.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x',
       'y', 'z', 'price'],
      dtype='object')

In [12]:
df=data.drop('Unnamed: 0',axis=1) #droping column

In [13]:
df

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [14]:
df['cut'].value_counts()

Ideal        10816
Premium       6899
Very Good     6030
Good          2441
Fair           781
Name: cut, dtype: int64

In [15]:
df['color'].value_counts()

G    5661
E    4917
F    4729
H    4102
D    3344
I    2771
J    1443
Name: color, dtype: int64

In [16]:
df['clarity'].value_counts()

SI1     6571
VS2     6099
SI2     4575
VS1     4093
VVS2    2531
VVS1    1839
IF       894
I1       365
Name: clarity, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder #importing labelencoder for encode

In [18]:
le= LabelEncoder()

In [19]:
label= le.fit_transform(df['cut'])

In [20]:
le.classes_

array(['Fair', 'Good', 'Ideal', 'Premium', 'Very Good'], dtype=object)

In [21]:
df['cut']=label

In [22]:
df

       carat  cut color clarity  depth  table     x     y     z  price
0       0.30    2     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    3     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90    4     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42    2     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31    2     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...  ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    3     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33    2     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    3     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27    4     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    3     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [23]:
cols=['color','clarity']
for i in cols:
    columns= le.fit_transform(df[i])
    
    df[i]=columns

In [24]:
df

       carat  cut  color  clarity  depth  table     x     y     z  price
0       0.30    2      1        2   62.1   58.0  4.27  4.29  2.66    499
1       0.33    3      3        1   60.8   58.0  4.42  4.46  2.70    984
2       0.90    4      1        7   62.2   60.0  6.04  6.12  3.78   6289
3       0.42    2      2        4   61.6   56.0  4.82  4.80  2.96   1082
4       0.31    2      2        6   60.4   59.0  4.35  4.43  2.65    779
...      ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
26962   1.11    3      3        2   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33    2      4        1   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    3      1        5   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27    4      2        7   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    3      6        2   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26967 non-null  float64
 1   cut      26967 non-null  int32
 2   color    26967 non-null  int32
 3   clarity  26967 non-null  int32
 4   depth    26967 non-null  float64
 5   table    26967 non-null  float64
 6   x        26967 non-null  float64
 7   y        26967 non-null  float64
 8   z        26967 non-null  float64
 9   price    26967 non-null  int64
dtypes: float64(6), int32(3), int64(1)
memory usage: 1.7 MB

In [26]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [27]:
from sklearn.linear_model import LinearRegression #importing model

In [28]:
lr=LinearRegression()

In [29]:
df.corr() #checking correlation

,carat,cut,color,clarity,depth,table,x,y,z,price
carat,1.000000,0.020146,0.293966,-0.211670,0.034865,0.181685,0.976368,0.941071,0.940640,0.922416
cut,0.020146,1.000000,-0.000679,0.017603,-0.184471,0.143989,0.024919,0.029999,0.006795,0.039287
color,0.293966,-0.000679,1.000000,-0.023366,0.050291,0.024418,0.274076,0.264290,0.267356,0.173213
clarity,-0.211670,0.017603,-0.023366,1.000000,-0.052601,-0.079601,-0.224428,-0.213497,-0.219203,-0.069447
depth,0.034865,-0.184471,0.050291,-0.052601,1.000000,-0.293965,-0.018455,-0.024419,0.097339,-0.002534
table,0.181685,0.143989,0.024418,-0.079601,-0.293965,1.000000,0.196206,0.182346,0.148944,0.126942
x,0.976368,0.024919,0.274076,-0.224428,-0.018455,0.196206,1.000000,0.962715,0.956606,0.886247
y,0.941071,0.029999,0.264290,-0.213497,-0.024419,0.182346,0.962715,1.000000,0.928923,0.856243
z,0.940640,0.006795,0.267356,-0.219203,0.097339,0.148944,0.956606,0.928923,1.000000,0.850536
price,0.922416,0.039287,0.173213,-0.069447,-0.002534,0.126942,0.886247,0.856243,0.850536,1.000000

In [30]:
X=df.drop(['price','clarity'],axis=1)

In [31]:
y=df[['price']]

In [32]:
y

       price
0        499
1        984
2       6289
3       1082
4        779
...      ...
26962   5408
26963   1114
26964   1656
26965    682
26966   5166

[26967 rows x 1 columns]

In [33]:
from sklearn.model_selection import train_test_split #import model for training and testing
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=10)

In [34]:
X_train

       carat  cut  color  depth  table     x     y     z
22774   0.46    2      3   62.4   54.4  4.93  4.98  3.09
2174    0.32    2      0   61.9   57.0  4.37  4.39  2.71
20838   1.60    3      5   62.1   58.0  7.51  7.47  4.65
4221    0.54    2      2   62.5   56.0  5.18  5.22  3.25
15934   0.80    4      2   63.1   58.0  5.89  5.93  3.73
...      ...  ...    ...    ...    ...   ...   ...   ...
9372    0.32    3      0   61.7   58.0  4.38  4.34  2.69
7291    0.31    1      1   63.4   55.0  4.26  4.29  2.71
17728   1.27    4      3   61.5   58.0  6.90  6.96  4.26
7293    0.58    2      0   62.1   57.0  5.32  5.40  3.32
17673   0.40    2      4   62.0   54.0  4.72  4.76  2.94

[18876 rows x 8 columns]

In [35]:
X_train.shape

(18876, 8)

In [36]:
y_train.shape

(18876, 1)

In [37]:
lr.fit(X_train,y_train) #fitting into model

LinearRegression()

In [38]:
lr.score(X_test,y_test) #checking the score

0.7670171733180621

In [39]:
lr.score(X_train,y_train)

0.8752733595822021

In [41]:
from sklearn.linear_model import Lasso #importing lasso and ridge for better result

In [43]:
ridge_reg= Ridge(alpha=50, max_iter=100)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=50, max_iter=100)

In [45]:
ridge_reg.score(X_test, y_test)

0.8493850453534957

In [46]:
ridge_reg.score(X_train,y_train)

0.8711631095059624

In [47]:
#To ignore warning
import warnings
warnings.filterwarnings('ignore')

In [48]:
lasso_reg = Lasso(alpha=50, max_iter=100)
lasso_reg.fit(X_train,y_train)

Lasso(alpha=50, max_iter=100)

In [49]:
lasso_reg.score(X_test,y_test)

0.8603179625952924

In [50]:
lasso_reg.score(X_train,y_train)

0.8662344550387565